.MuiInputBase-input {
  font-size: 1.5rem !important;
}
.MuiFormLabel-root {
  font-size: 1.5rem !important;
}

.MuiDataGrid-colCellTitleContainer {
  text-align: center;
}
.MuiDataGrid-colCellTitleContainer {
  justify-content: center;
}

.MuiDataGrid-cell {
  text-align: center !important;
}
